<!-- views/downloadExcel.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>InquiryProcessor-GBP</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/ejsStyle.css" /> -->
  </head>

  <body>
    <h2>Descargar Excel</h2>
    <form action="/download/excel" method="get">
      <button type="submit">Descargar Excel</button>
    </form>
  </body>
</html>
