<!-- views/downloadExcel.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./download2.css" />
    <title>InquiryProcessor-GBP</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/download2.css" />
  </head>

  <body>
    <h2>Descargar o subir a Drive</h2>
    <div class="buttons">
      <form action="/download/excel" method="get">
        <button type="submit">Descargar Excel</button>
      </form>
      <form action="none" method="get">
        <button id="uploadToDrive">Subir a Drive</button>
      </form>
    </div>
  </body>
</html>
